<head>

  <title>{{ site.title }} - {{ page.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="{{ site.baseurl }}/img/HackTheBurgh-Icon-32x32.png" type="image/png">
  <link rel="apple-touch-icon" sizes="" href="{{ site.baseurl }}/img/HackTheBurgh-Touch-Icon.png" />
  <link href="http://fonts.googleapis.com/css?family=Raleway:400,300,700" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css">

  
  <!-- Ti.to event embed JS -->
  <script src="https://js.tito.io/v1" async></script>
  <link rel="stylesheet" type="text/css" href="https://css.tito.io/v1">
  
  <link rel="stylesheet" href="{{ site.baseurl }}/css/override.css">
  
  <meta name="description" content="{{ site.description }}">
  <meta name="theme-color" content="#ED6550">
  
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/js/readmore.min.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/js/countdown.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0jMReSJUGONafK9ZWOrv0hByvBlFQx7M"></script>

</head>
