<script type="text/javascript">

/* Google Maps */

var infForum = new google.maps.LatLng(55.944791,-3.187282);

function initialize() {
    var mapOptions = {
        center: { lat: 55.944791, lng: -3.187282},
        zoom: 14,
        scrollwheel: false
    };
    var map = new google.maps.Map(document.getElementById('map-canvas'),mapOptions);
    
    var marker = new google.maps.Marker({
        position: infForum,
        map: map,
        title:"Informatics Forum",
        animation: google.maps.Animation.DROP
    });

    marker.setMap(map);
}
google.maps.event.addDomListener(window, 'load', initialize);


/* Google Analytics */

(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-55971867-1', 'auto');
ga('send', 'pageview');

/* Jquery stuff */

$('a').click(function(){
	$('html, body').animate({
		scrollTop: $('[name="' + $.attr(this, 'href').substr(1) + '"]').offset().top
	}, 500);
	return false;
});

/* Scroll to top show/hide: */
$(document).ready(function() {
	$(window).scroll(function() {
		if($(this).scrollTop() > 380){
			$('.go-top').fadeIn(400);
		} else {
			$('.go-top').fadeOut(400);
		}
	});

	// Animate scroll to top
	$('.go-top').click(function(){
		$('html, body').animate({scrollTop : 0},800);
		return false;
	});
})

/* Formatting fixes for Posts: */

$( ".post-wrap table" ).addClass( "table table-responsive" );
$( ".post-wrap img" ).addClass( "img-responsive" );

$( "#faq" ).readmore({
    speed: 800,
    maxHeight: 500,
    moreLink: '<a href="#" class="btn btn-danger btn-lg btn-signup">Read more...</a>',
    lessLink: '<a href="#" class="btn btn-danger btn-lg btn-signup">Hide</a>'
});



    /* Countdown to the end of the hack */
    $('#countdown').countdown('2015/03/15 13:00:00', function(event) {
        var totalHours = event.offset.totalDays * 24 + event.offset.hours;
        $(this).html(event.strftime('%H\h %M\m %S\s'));
    });
    document.getElementById('countdown-head').innerHTML = "Hack time remaining:";
    document.getElementById('countdown-foot').remove();


$('.carousel').carousel({
    interval: 1500
})


</script>
